/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define NUM 1
#define NAV 2

#define EUR RA(RS(N2))
#define CM COMMA

#define SHTAB LS(TAB)      // shift tab
#define NTAB LG(LS(RBKT))  // next tab
#define PTAB LG(LS(LBKT))  // previous tab
#define NWIN LG(GRAVE)     // next window of app
#define PWIN LG(LS(GRAVE)) // previous window of app

#define SPCL LG(LA(LEFT))  // Spectacle left
#define SPCR LG(LA(RIGHT)) // Spectacle right
#define SPCF LG(LA(F))     // Spectacle full screen


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------------------------------------------------------------------------------------------------------
// |  ESC    |  Q  |  W  |  E  |  R  |  T  |                                         |  Y  |  U  |  I   |  O    |  P     | BSPC |
// |  TAB    |  A  |  S  |  D  |  F  |  G  |                                         |  H  |  J  |  K   |  L    |  ;     |  '   |
// |  SHFT   |  Z  |  X  |  C  |  V  |  B  |    | CTRL  |             |   \    |     |  N  |  M  |  ,   |  .    |  /     | SHFT |
//                    | ALT  | CMD | NUM  | ENTER | NAV |             |  NUM   | BSPC | SPACE | NAV | ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                           &kp Y &kp U &kp I  &kp O   &kp P    &kp BSPC
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                           &kp H &kp J &kp K  &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B  &none   &kp LCTRL        &kp C_PWR &none &kp N &kp M &kp CM &kp DOT &kp FSLH &kp RSHFT
	               &kp LALT &kp LCMD &mo NUM &kp RET &mo NAV          &mo NUM   &kp BSPC &kp SPACE &mo NAV &kp RALT
			>;
		};

		num_layer {
// ----------------------------------------------------------------------------------------------------------------------------------------------
// |    `    |    !    |   @    |   {    |   }    |  ~   |                                               |   _     |  7   |  8   |  9   |    -    | BSPC |
// |    |    |    #    |   $    |   (    |   )    |  €   |                                               |   =     |  4   |  5   |  6   |    +    |  ¨   |
// |   SHFT  |    ^    |   &    |   [    |   ]    |  \   |       | CTRL  |                |  PIPE  |     |   *     |  1   |  2   |  3   |    %    | SHFT |
//                            |  ALT   |  CMD   |  NUM  | ENTER  | NAV   |                |  SHIFT |  BSPC  | SPACE  |    0   |  .  |
			bindings = <
	&kp GRAVE &kp EXCL  &kp AT   &kp LBRC &kp RBRC &kp TILDE                                              &kp UNDER &kp N7 &kp N8 &kp N9 &kp MINUS &trans
	&kp PIPE  &kp HASH  &kp DLLR &kp LPAR &kp RPAR &kp EUR                                                &kp EQUAL &kp N4 &kp N5 &kp N6 &kp PLUS  &kp LA(U)
	&trans    &kp CARET &kp AMPS &kp LBKT &kp RBKT &kp BSLH &none &trans                   &trans   &none &kp STAR  &kp N1 &kp N2 &kp N3 &kp PRCNT &trans
	                           &trans   &trans   &trans  &trans   &trans                   &trans   &trans   &trans   &kp N0    &kp DOT
			>;
		};

		nav_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | nextWin |    Vol+    | SpecL  |  SpecF    | SpecR |       |                                             |  pgup   |  HOME  |   up   |  end   | --- | DEL  |
// | prevWin |    Vol-    | TabL   |  CMD+Tab  | TabR  | CMD+H |                                             | pgdown  |  left  |  down  | right  | --- |extPwr|
// | SHFT    |    Prev    | Play   |  Next     |       | CMD+M |   |next-BT|                | clr-BT|        |  -----  |  ----  |  ----  | ------ | --- | SHFT |
//                                        | ALT  | CMD | NUM | ENTER | NAV |                | SHIFT | BSPC | SPACE | NAV | ALT |
			bindings = <
	&kp NWIN  &kp C_VOL_UP &kp SPCL &kp SPCF    &kp SPCR &none                                                &kp PG_UP &kp HOME &kp UP   &kp END   &none     &kp DEL
	&kp PWIN  &kp C_VOL_DN &kp PTAB &kp LG(TAB) &kp NTAB &kp LG(H)                                            &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &kp MINUS &ext_power EP_TOG
	&trans    &kp C_PREV   &kp C_PP &kp C_NEXT  &none    &kp LG(M) &trans &bt BT_NXT         &bt BT_CLR &none &none     &none    &none    &none     &none     &trans
	                                            &trans &trans &trans &trans &trans           &trans &trans &trans &trans &trans
			>;
		};
	};
};
