/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define FUNM 1
#define SYAR 2
#define PRFB 3

#define XXX &none
#define ___ &trans

#define BS BSPC
#define SPC SPACE
#define CTRL LCTRL
#define ALT LALT
#define CMD LCMD

#define EUR RA(RS(N2))
#define CM COMMA

#define SHTAB LS(TAB)      // shift tab
#define NTAB LG(LS(RBKT))  // next tab
#define PTAB LG(LS(LBKT))  // previous tab
#define NWIN LG(GRAVE)     // next window of app
#define PWIN LG(LS(GRAVE)) // previous window of app

#define SPCL LG(LA(LEFT))  // Spectacle left
#define SPCR LG(LA(RIGHT)) // Spectacle right
#define SPCF LG(LA(F))     // Spectacle full screen


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
/* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
     &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T                                                        &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     &kp TAB       &kp A         &kp S         &kp D         &kp F         &kp G                                                        &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SQT
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┬───────────╮  ╭───────────┬─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B         &kp RET   &kp BSPC          XXX        XXX     &kp N         &kp M         &kp CM        &kp DOT       &kp FSLH      &kp RSHFT
/* ╰─────────────┴─────────────┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┼───────────┤  │           │         ╰───┬─────────┴───┬─────────┴───┬─────────┴───┬─────────┴─────────────┴─────────────╯ */
                                            &kp CTRL     &mt ALT SPC   &lt FUNM BS   &mt CMD RET   &kp SPACE       &kp RET     &kp SPACE    &mo SYAR        &kp RET      &kp RALT
/*                                       ╰─────────────┴─────────────┴─────────────┴─────────────┴───────────╯  ╰───────────┴─────────────┴─────────────┴─────────────┴─────────────╯                                       */
            >;
        };

        // FUNCTION AND NUMPAD LAYER
        fun_num_layer {
            bindings = <
/* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
     &kp C_BRI_UP  &kp C_VOL_UP  &kp PTAB      &kp UP        &kp NTAB      &kp LG(T)                                                    &kp UNDER     &kp N7        &kp N8        &kp N9        &kp MINUS     &kp DEL
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     &kp C_BRI_DN  &kp C_VOL_DN  &kp LEFT      &kp DOWN      &kp RIGHT     &kp LG(H)                                                    &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp PLUS      &kp LA(U)
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┬───────────╮  ╭───────────┬─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     &mo PRFB      &kp K_MUTE    &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp LG(M)       ___        ___            ___        ___     &kp STAR      &kp N1        &kp N2        &kp N3        &kp PRCNT     ___
/* ╰─────────────┴─────────────┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┼───────────┤  │           │         ╰───┬─────────┴───┬─────────┴───┬─────────┴───┬─────────┴─────────────┴─────────────╯ */
                                               ___           ___           ___           ___          ___            ___        &kp N0          ___           ___           ___
/*                                       ╰─────────────┴─────────────┴─────────────┴─────────────┴───────────╯  ╰───────────┴─────────────┴─────────────┴─────────────┴─────────────╯                                       */
            >;
        };

        // SYMBOL AND ARROW LAYER
        sym_arr_layer {
            bindings = <
/* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
     &kp GRAVE     &kp EXCL      &kp AT        &kp LBRC      &kp RBRC      &kp TILDE                                                    &kp PG_UP     &kp HOME      &kp UP        &kp END       XXX           &kp DEL
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     &kp PIPE      &kp HASH      &kp DLLR      &kp LPAR      &kp RPAR      &kp EUR                                                      &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     XXX           &ext_power EP_TOG
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┬───────────╮  ╭───────────┬─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     ___           &kp CARET     &kp AMPS      &kp LBKT      &kp RBKT      &kp BSLH        ___        ___            ___        ___     XXX           XXX           XXX           XXX           XXX           ___
/* ╰─────────────┴─────────────┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┼───────────┤  │           │         ╰───┬─────────┴───┬─────────┴───┬─────────┴───┬─────────┴─────────────┴─────────────╯ */
                                               ___           ___           ___           ___          ___            ___          ___           ___           ___           ___
/*                                       ╰─────────────┴─────────────┴─────────────┴─────────────┴───────────╯  ╰───────────┴─────────────┴─────────────┴─────────────┴─────────────╯                                       */
            >;
        };

        // PREFERENCES AND F-BUTTON LAYER
        prf_fbt_layer {
            bindings = <
/* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
     &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                 ___           &kp F7        &kp F8        &kp F9        &kp F12       ___
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     ___           &ext_power EP_ON   ___      &ext_power EP_OFF   ___     ___                                                          ___           &kp F4        &kp F5        &kp F6        &kp F11       ___
/* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┬───────────╮  ╭───────────┬─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
     ___           &out OUT_USB  ___           &out OUT_BLE  ___           ___             ___        ___            ___        ___     ___           &kp F1        &kp F2        &kp F3        &kp F10       ___
/* ╰─────────────┴─────────────┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┬───┴─────────┼───────────┤  │           │         ╰───┬─────────┴───┬─────────┴───┬─────────┴───┬─────────┴─────────────┴─────────────╯ */
                                               ___           ___           ___           ___          ___            ___          ___           ___           ___           ___
/*                                       ╰─────────────┴─────────────┴─────────────┴─────────────┴───────────╯  ╰───────────┴─────────────┴─────────────┴─────────────┴─────────────╯                                       */
            >;
        };

    };
};
